html{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    background-color: rgb(231, 226, 226);
    padding: 10px;
}
p{
    padding: 10px;
    text-align: center;
}
.quote{
    text-align: right;
    text-shadow: 5px 5px rgb(231, 226, 226);
}
h1{
    font-size: 15pt;
    color: rgb(0, 183, 255);
    padding: 18px 0 18px 0;
    margin-bottom: 10px;
    text-align: center;

}
h1 span{
    border: dashed 3px rgb(0, 183, 255);
    box-shadow: 5px 5px rgb(94, 93, 93);
    padding: 10px;
    border-radius: 10px;
}
.section{
    border-radius: 0 15px 0 15px;
    background-color: ghostwhite;
    padding: 15px;
    margin: 0 0 10px 0;
}
table{
    width: 100%;
}
table, td, th{
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    border: 2px solid  rgb(231, 226, 226);
}
.selected{
    background-color: rgb(0, 183, 255);
    font-weight: bold;
    color: rgb(231, 226, 226);
    border-style: groove 30px;
    border-radius: 7px;
    border: 3px black; 
}
ul.okayy{
    list-style: square outside;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
}
progress{
    width: 50%;
    height: 20px;
    color: rgb(0, 183, 255);
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    margin-bottom: 5px; 
    transition:    width 3s ease-in;
}
::-webkit-progress-bar{
    background-color: rgb(231, 226, 226);
    border-radius: 10px;
}
::-webkit-progress-value{
    background-color: rgb(0, 183, 255);
    border-radius: 10px;
}
iframe, audio, video{
    display: block;
    border: solid rgb(0, 183, 255) 2px;
    margin: auto;
    margin-bottom: 10px;
}
form{
    text-align: center;
    margin-bottom: 10px;
}
textarea{
    height: 100px;
}
input, textarea{
    width: 50%;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(231, 226, 226);
    color: rgb(80, 78, 78);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11pt;
    padding: 15px 10px 10px;
}
.submit{
    background-color: rgb(0, 183, 255);
    cursor: pointer;
    font-weight: 900;
    
    color: rgb(231, 226, 226);
    width: 30%;
}
.submit:hover{
    background-color: blue;
}
.smile{
    font-size: 50px;
    margin: 0 auto;
    display: block;
    margin-top: -45px;
    margin-bottom: -30px;
}
#contacts img{
    width: 50px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    transition: width ease-in-out;
}
#contacts a{
    text-decoration: none;
}
#contacts {
    text-align: center;
}
#contacts img:hover{
    transform: scale(2);
}
.copyright{
    text-align: right;
    color: grey;
    font-size: 12px;
    padding: 7px;
}
.imgcir{
    border-radius: 50%;
    border: 3px solid ghostwhite;
    transform: scale(0.7);
    
}
#heading p{
    font-size: bold;
    font-size: 25pt;
    padding: 5px;
    text-align: center;
    color: rgb(231, 226, 226);
}
#heading {
    background-image: url(header.jpg);
    background-size: cover;
    text-align: center;
}
.note{
    text-align: center;
    font-size: 13pt;
}